<!DOCTYPE html>
<html lang="en">
<head>
    <!--Metas-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Title-->
    <title>PC Stream</title>

    <!--Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <header class="container-fluid sticky titlebar">
        <div class="row">
            <div class="col-sm-4 window-title">
                <span class="h4" id="status-dot-1" style="color: #bbb; margin-right: 10px;">&#9679;</span>
                <span class="text-white h5">PC Stream</span>
            </div>
            <div class="col-sm-8 window-controls-container">
                <p class="float-right text-white h5">
                    <span class="window-button titlebar-button" id="minimize-btn">&#128469;</span>
                    <span class="window-button titlebar-button" id="max-rest-btn">&#128470;</span>
                    <span class="window-button titlebar-button" id="close-btn">&#10006;</span>
                </p>
            </div>
        </div>
    </header>

    <div class="container main-section mt-5">
        <div class="row">
            <div class="col-sm-12 bg-white shadow rounded pt-3 pb-3">
                <div class="row">
                    <span class="h2" id="status-dot-2" style="color: #bbb; margin-left: 20px;">&#9679;</span>
                    <span class="h2 font-weight-bold" style="margin-left: 20px;" id="status-text">OFFLINE</span>
                </div>
                <div class="row pl-3">
                    <button class="btn btn-primary btn-lg btn-dark" id="toggle-server-btn">Start Server</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="main.js"></script>
</body>
</html>