<!DOCTYPE html>
<html lang="en">
<head>
    <!--Metas-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Title-->
    <title>PC Stream</title>

    <!--Styles-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <header class="container-fluid sticky titlebar">
        <div class="row">
            <div class="col-sm-8 window-title">
                <span class="h5 window-button titlebar-button" id="hamburger-ico" style="color: #fff; margin-right: 10px; padding: 3px;">&#9776;</span>
                <span class="h4 titlebar-button" id="status-dot-1" style="color: #bbb; margin-right: 10px;">&#9679;</span>
                <span class="text-white h5">PC Stream</span>
            </div>
            <div class="col-sm-4 window-controls-container">
                <p class="float-right text-white h5">
                    <span class="window-button titlebar-button" id="minimize-btn">&#128469;</span>
                    <span class="window-button titlebar-button" id="max-rest-btn">&#128470;</span>
                    <span class="window-button titlebar-button" id="close-btn">&#10006;</span>
                </p>
            </div>
        </div>
    </header>

    <div class="rounded text-white mt-3 mr-2 p-1 pl-3 pr-3 shadow" style="display: none;" id="toast"></div>

    <div class="container main-section mt-5 mb-5 all-sections" id="home-section">
        <div class="row">
            <div class="col-sm-12 bg-white shadow rounded pt-3 pb-3">
                <div class="row">
                    <span class="h2 pl-3" id="status-dot-2" style="color: #bbb;">&#9679;</span>
                    <span class="h2 p-bold pl-3" id="status-text">OFFLINE</span>
                </div>
                <div class="row mb-3 mt-2" id="online-shower" style="display: none;">
                    <div class="float-right pr-4" id="qr-code"></div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-3 text-black font-weight-bold">IP Addr:</div>
                            <div class="col-sm-2 text-primary font-weight-bold" id="ip-placeholder"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-black font-weight-bold">Port:</div>
                            <div class="col-sm-2 text-primary font-weight-bold" id="port-placeholder"></div>
                        </div>
                    </div>
                </div>
                <div class="row pl-3">
                    <button class="btn btn-primary btn-lg btn-dark" id="toggle-server-btn">Start Server</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-section mt-5 mb-5 all-sections" id="add-user-section" style="display: none;">
        <div class="row">
            <div class="col-sm-12 bg-white shadow rounded pt-3 pb-3">
                <div class="row">
                    <span class = "col-sm-12 h3 pl-3">Add User</span>
                </div>
                <div class="row">
                    <p class="pl-3">This section is to add an user. An user account is absolutely required in order to use PC Stream. In order to control the permissions of an user (if he/she can visit some directories/delete stuff etc), check out Control User Permissions section.</p>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form action="javascript: return;" id="add-user-form">
                            <div class="form-group">
                                <label for="username-add">Username</label>
                                <input type="text" class="form-control" id="username-add" placeholder="Pick an username" required>
                            </div>
                            <div class="form-group">
                                <label for="realname-add">Full Name</label>
                                <input type="text" class="form-control" id="realname-add" placeholder="What's your name?" required>
                            </div>
                            <div class="form-group">
                                <label for="password-add">Password</label>
                                <input type="password" class="form-control" id="password-add" placeholder="Choose a password" required>
                            </div>
                            <div class="form-group">
                                <label for="picture-add">Profile Picture</label>
                                <input type="file" class="form-control-file" id="picture-add" accept="image/*" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="add-btn-submit" class="btn btn-primary">Add User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-section mt-5 mb-5 all-sections" id="user-perms-section" style="display: none;">
        <div class="row">
            <div class="col-sm-12 bg-white shadow rounded pt-3 pb-3">
                <div class="row">
                    <span class = "col-sm-12 h3 pl-3">User Permissions</span>
                </div>
                <div class="row">
                    <p class="pl-3">
                        Change the permissions of users like whether or not any user can delete files, can rename files or if he/she has permission to view a directory or not.
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group">
                                <label for="username-choose-uperms">Choose User</label>
                                <select class="form-control" id="username-choose-uperms">
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="username-perms-show-container" style="display: none;">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="h5 text-primary">User 
                                <span class="h5 text-primary" id="uname-chosen-pms"></span>
                                's permissions</span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12"> <u> Can Download? </u> </div>
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="down-pms" type="radio" id="down-yes-pms" value="Yes">
                                        <label class="form-check-label" for="down-yes-pms">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="down-pms" type="radio" id="down-no-pms" value="No">
                                        <label class="form-check-label" for="down-no-pms">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12"> <u> Can Rename? </u> </div>
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="rnm-pms" type="radio" id="rnm-yes-pms" value="Yes">
                                        <label class="form-check-label" for="down-yes-pms">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="rnm-pms" type="radio" id="rnm-no-pms" value="No">
                                        <label class="form-check-label" for="down-no-pms">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12"> <u> Can Delete? </u> </div>
                                <div class="col-sm-12">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="del-pms" type="radio" id="del-yes-pms" value="Yes">
                                        <label class="form-check-label" for="dlt-yes-pms">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="del-pms" type="radio" id="del-no-pms" value="No">
                                        <label class="form-check-label" for="dlt-no-pms">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 pl-3">
                                <button class="btn btn-primary" id="update-perms-final-btn">Update Permissions</button>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row mb-2">
                                <div class="col-sm-12"> <u> Unallowed Directories </u> </div>
                            </div>
                            <div class="row mt-3" id="add-dir-cont">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" id="dir-selector">Add Directory</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-section mt-5 mb-5 all-sections" id="edit-pw-section" style="display: none;">
        <div class="row">
            <div class="col-sm-12 bg-white shadow rounded pt-3 pb-3">
                <div class="row">
                    <span class = "col-sm-12 h3 pl-3">Change User Password</span>
                </div>
                <div class="row">
                    <p class="pl-3">This section is to change password of an user.</p>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group">
                                <label for="username-choose-editpw">Choose User</label>
                                <select class="form-control" id="username-choose-editpw">
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row" id="edit-pw-of" style="display: none;">
                    <form action="javascript: return;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="edited-pw">New Password</label>
                                <input type="password" id="edited-pw" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" id="edited-pw-btn" class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid sticky pb-2">
        <div class="col-sm-12">
            <span class="text-white">ⓘ</span>
            <span class="text-white ml-2" id="notifs">Turn on the server</span>
        </div>
    </footer>

    <script src="./qrcode.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="main.js"></script>
</body>
</html>