@font-face {
    src: url("./Product\ Sans\ Regular.ttf");
    font-family: 'Product Sans Regular';
}

@font-face {
    src: url("./Product\ Sans\ Bold.ttf.ttf");
    font-family: 'Product Sans Bold';
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Product Sans Regular';
}

html {
    height: 100%;
}

body {
    background: rgb(82,62,147);
    background: -moz-linear-gradient(45deg, rgba(82,62,147,1) 0%, rgba(174,58,207,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(82,62,147,1) 0%, rgba(174,58,207,1) 100%);
    background: linear-gradient(45deg, rgba(82,62,147,1) 0%, rgba(174,58,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#523e93",endColorstr="#ae3acf",GradientType=1);

    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    height: 30px;
    background: #001011;
}

.window-title {
    height: 24px;
    width: 24px;
}

.full-width {
    width: 100%;
}

.sticky {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

.window-button {
    padding: 0px 6px;
}

.window-button:hover {
    cursor: pointer;
}

#minimize-btn:hover, #max-rest-btn:hover {
    background: #444;
}

#close-btn:hover {
    background: red;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebar-button {
    -webkit-app-region: no-drag;
}
