@font-face {
    src: url("./Product\ Sans\ Regular.ttf");
    font-family: 'Product Sans Regular';
}

@font-face {
    src: url("./Product\ Sans\ Bold.ttf");
    font-family: 'Product Sans Bold';
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Product Sans Regular';
}

html {
    height: 100%;
}

body {
    background: rgb(82,62,147);
    background: -moz-linear-gradient(45deg, rgba(82,62,147,1) 0%, rgba(174,58,207,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(82,62,147,1) 0%, rgba(174,58,207,1) 100%);
    background: linear-gradient(45deg, rgba(82,62,147,1) 0%, rgba(174,58,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#523e93",endColorstr="#ae3acf",GradientType=1);

    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

    -webkit-user-select: none;
}

body::-webkit-scrollbar { 
    width: 0 !important 
}

header {
    height: 30px;
    background: #001011;
}

footer {
    height: 20px;
    background: #001011;
    bottom: 0 !important;
}

#notifs {
    font-size: 14px;
}

#toast {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.show-toast {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.window-title {
    height: 24px;
    width: 24px;
}

.full-width {
    width: 100%;
}

.sticky {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.window-button {
    padding: 0px 6px 6px 6px;
}

.window-button:hover {
    cursor: pointer;
}

#minimize-btn:hover, #max-rest-btn:hover {
    background: #444;
}

#close-btn:hover {
    background: red;
}

#hamburger-ico:hover {
    background: #444;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.titlebar {
    top: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.titlebar-button {
    -webkit-app-region: no-drag;
}

.p-bold {
    font-family: 'Product Sans Bold'
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.close-icon:hover {
    cursor: pointer;
    color: white;
    background: red;
}

#scroll-list {
    background: #f6f6f6;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}