.ico {
    height: 35px;
    width: auto;
}

.cur-ptr {
    cursor: pointer;
}

.full-screen-fixed {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.non-see-thru {
    background: white;
}

kbd {
    cursor: pointer;
}

.rounded-img-dp {
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:50%;
}