<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <meta name="theme-color" content="#0275d8">

    <!--CSS-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">

</head>
<body>
    <div class="full-screen-fixed" id="loadin" style="display: none;">
        <div class="non-see-thru col-6 offset-3 text-center rounded mt-2 p-4">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="centered">Loading...</div>
        </div>
    </div>

    <div class="col-12 pt-2">
        <div class="row">
            <div class="col-10">
                <p class="h2">Browse</p>
            </div>
            <div class="col-2">
            </div>
        </div>
        <div class="row">
            <div id="browse-chunks" class="col-8 overflow-auto">
                <span id="show-dir">
                </span>
            </div>
            <div class="col-4">
                <div class="float-right">
                    <img src="../assets/computer.png" onclick="getDir('/');" width="28px" height="28px">
                    <img src="../assets/reload.png" onclick="refreshDir();" width="28px" height="28px">
                </div>
            </div>
        </div>
        <div class="row cur-ptr">
            <div class="col-12 mt-2">
                <div id="app">
                    <!--Folders-->
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-dark mt-1 mb-1 p-2 text-white rounded" v-for="ele in folders">
                            <div class="row cur-ptr" @click="gtDr(ele)">
                                <div class="col-2">
                                    <img class="ico" src="../assets/foldericons/folder.svg">
                                </div>
                                <div class="col-10">
                                    {{ ele }}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!--Files-->
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-primary mt-1 mb-1 p-2 text-white rounded" v-for="(ele, index) in files">
                            <div class="row cur-ptr" @click="gtFile(ele)">
                                <div class="col-2">
                                    <img class="ico" :src="'../assets/foldericons/' + fileExts[index] + '.svg'">
                                </div>
                                <div class="col-10">
                                    {{ ele }}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!--Drives-->
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-success mt-1 mb-1 p-2 text-white rounded" v-for="ele in disks">
                            <div class="row cur-ptr" @click="getDir(ele.name + '/')">
                                <div class="col-2 text-center">
                                    <img class="ico" src="../assets/foldericons/disk.webp">
                                </div>
                                <div class="col-10">
                                    <div v-if="ele.volumename == null"><span class="font-weight-bold">[ {{ele.name}} ]</span> {{ele.type}}</div>
                                    <div v-else><span class="font-weight-bold">[ {{ele.name}} ]</span> {{ele.volumename}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--
                    <h2>Unknowns</h2>
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-primary mt-1 mb-1 p-2 text-white rounded" v-for="ele in unknowns">
                            {{ ele }}
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

    <!--Scripts-->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script>
        const sessKey = "<%= sessKey %>"
    </script>
    <script src="../js/home.js"></script>
</body>
</html>