<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <meta name="theme-color" content="#0275d8">

    <!--CSS-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">

</head>
<body>
    <div class="full-screen-fixed" id="loadin" style="display: none;">
        <div class="non-see-thru col-6 offset-3 text-center rounded mt-2 p-4">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="centered">Loading...</div>
        </div>
    </div>

    <div class="full-screen-fixed" id="name-logout-dialog" style="display: none;">
        <div class="non-see-thru col-8 offset-2 text-center rounded mt-2 p-4">
            <span class="float-right" id="closer-name-logout-dialog">❌</span>
            <p class="h4">Welcome, <span id="fname"></span>!</p><br>
            <a class="btn btn-primary text-white" href="../logout">Logout</a>
        </div>
    </div>

    <div class="full-screen-fixed" id="stream-download-dialog" style="display: none;">
        <div class="non-see-thru col-8 offset-2 rounded mt-4 p-5">
            <p class="float-right" id="closer-stream-download-dialog">❌</p>
            <div class="row overflow-auto mt-5">
                <p class="h5" id="file-name-dialog"></p>
            </div>
            <div class="row">
                <p class="h6">@ <span id="dir-name-dialog"></span></p>
            </div>
            <div class="row mt-2" id="axRsmab">
                <a id="watch-dg" class="col-8 text-center btn btn-primary text-white">Watch</a>
            </div>
            <div class="row mt-2" id="axRsmac">
                <a id="download-dg" class="col-12 text-center btn btn-success text-white">Download</a>
            </div>
        </div>
    </div>

    <div class="col-12 pt-2">
        <div class="row">
            <div class="col-10">
                <p class="h1">Browse</p>
            </div>
            <div class="col-2">
                <img src="" id="profile-dp" class="rounded-img-dp float-right mb-2">
            </div>
        </div>
        <div class="row">
            <div id="browse-chunks" class="col-8" style="overflow-y: scroll;">
                <span id="show-dir" style="white-space: nowrap;">
                </span>
            </div>
            <div class="col-4">
                <div class="float-right">
                    <img src="../assets/computer.png" onclick="getDir('/');" width="28px" height="28px">
                    <img src="../assets/reload.png" onclick="refreshDir();" width="28px" height="28px">
                </div>
            </div>
        </div>
        <div class="row cur-ptr">
            <div class="col-12 mt-2">
                <div id="app">
                    <!--Folders-->
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-dark mt-1 mb-1 p-2 text-white rounded" v-for="ele in folders">
                            <div class="row cur-ptr" @click="gtDr(ele)">
                                <div class="col-2">
                                    <img class="ico" src="../assets/foldericons/folder.svg">
                                </div>
                                <div class="col-10">
                                    {{ ele }}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!--Files-->
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-primary mt-1 mb-1 p-2 text-white rounded" v-for="(ele, index) in files">
                            <div class="row cur-ptr" @click="gtFile(ele)">
                                <div class="col-2">
                                    <img class="ico" :src="'../assets/foldericons/' + fileExts[index] + '.svg'">
                                </div>
                                <div class="col-10">
                                    {{ ele }}
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!--Drives-->
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-success mt-1 mb-1 p-2 text-white rounded" v-for="ele in disks">
                            <div class="row cur-ptr" @click="getDir(ele.name + '/')">
                                <div class="col-2 text-center">
                                    <img class="ico" src="../assets/foldericons/disk.webp">
                                </div>
                                <div class="col-10">
                                    <div v-if="ele.volumename == null"><span class="font-weight-bold">[ {{ele.name}} ]</span> {{ele.type}}</div>
                                    <div v-else><span class="font-weight-bold">[ {{ele.name}} ]</span> {{ele.volumename}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--
                    <h2>Unknowns</h2>
                    <ul class="col-12" style="list-style-type: none;">
                        <li class="bg-primary mt-1 mb-1 p-2 text-white rounded" v-for="ele in unknowns">
                            {{ ele }}
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

    <!--Scripts-->
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script>
        const sessKey = "<%= sessKey %>"
    </script>
    <script src="../js/home.js"></script>
</body>
</html>